*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(to left, black, rgb(15, 14, 14));
}

.card
{
    margin: 2rem 3rem;
    background: white;
    color: black;
    width: 45%;
    padding: 1rem;
    border-radius: 10px;
}